*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
h2{
	margin: 0 auto 8px;
	color: #000;
	font-size: 32px;
}
h3{
	margin: 30px 0;
	color: #000;
	font-size: 16px;
}
.headline-border{
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}
i{
	/*position: absolute;
	left: 160px*/
	font-size: 60px;
	margin: 0 auto;
}



header{
	width: 100%;
	background-color: #EC715F;
}
.header-main{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}
.header-title{
	float: left;
	height: 70px;
	width: 180px;	/*ここの大きさ上手く指定する方法？*/
	background-image: url(mysite/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 70px;
}
/*.header-title-img{
	background-image: url(mysite/logo.png);
	width: 100%;
	max-width: 100%;
	height: auto;
}*/
.navbar{
	float: right;
	/*display: inline-block;*/
}
.navbar-list{
	list-style: none;
	display: inline-block;
	line-height: 70px;
	margin: 0 30px;
	color: #FAFAFA;
	font-size: 16px;
}
@media screen and (max-width: 767px){
	.header-main{
		width: 90%;
		height: 50px;
	}
	.header-title{
		width: 20%;
		max-width: 100%;
		height: 50px;
		line-height: 50px;
		background-size: auto 50px;
	}
	.navbar{
		display: none;
	}
	#humberger {
		float: right;
        position: relative;
        height: 40px;
        width: 40px;
        margin: 5px 0;
        /*padding: 3px 2px;*/
        display: inline-block;
        box-sizing: border-box;
        /*line-height: 50px;*/
        border: 1px solid #FFF;
      }
      #humberger div {
        position: absolute;
        left: 4px;
        height: 3px;
        width: 30px;
        background-color: #fff;
        /*border-radius: 2px;*/
        display: inline-block;
        box-sizing: border-box;
      }
      #humberger div:nth-of-type(1) {
        top: 9px;
      }
      #humberger div:nth-of-type(2) {
        top: 18px;
      }
      #humberger div:nth-of-type(3) {
        top: 27px;
      }
}


.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(mysite/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-title{
	text-align: center;
	padding-top: 200px;
	color: #FAFAFA;
	font-size: 64px;
}
.main-visual-text{
	text-align: center;
	padding-top: 10px;
	color: #FAFAFA;
	font-size: 20px;
}
@media screen and (max-width: 767px){
	.main-visual{
		background-image: url(mysite/code.png);
	}
	.main-visual-title{
		font-size: 40px;
		width: 90%;
	}
	.main-visula-text{
		font-size: 18px;
	}
}


.main-1{
	width: 100%;
	padding: 90px 0;
	background-color: #ECEFF1;
}
.portfolio-contents{
	width: 920px;
	margin: 0 auto;
}
.portfolio-box1{
	text-align: center;
}
.portfolio-box2{
	/*width: 920px;*/
}
.portfolio-image:nth-child(1){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-image: url(mysite/sketch.jpg);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(2){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-image: url(mysite/websuku.png);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(3){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 0 10px;
	background-image: url(mysite/write.jpg);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(4){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0;
	background-image: url(mysite/webcamp.png);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(5){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px;
	background-image: url(mysite/talk.jpg);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(6){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0;
	background-image: url(mysite/webcamp-mother.png);
	background-size: cover;
	background-position: bottom;
}
@media screen and (max-width: 767px){
	.portfolio-contents{
		width: 90%;
	}
	.portfolio-box2{
		width: 90%;
		margin: 0 auto;
	}
	.portfolio-image:nth-child(odd){
		display: none;
	}
	.portfolio-image:nth-child(even){
		float: none;
		margin: 10px auto;
	}
}


.main-2{
	width: 100%;
	padding: 90px 0;
}
.feature-contents{
	width: 980px;
	margin: 0 auto;
}
.feature-box1{
	text-align: center;
}
.feature-box2{
	/*width: 980px;*/
}
.feature-box2-content-1{
	/*position: relative;*/
	text-align: center;
	float: left;
	width: 320px;
}
.feature-box2-content-2{
	/*position: relative;*/
	text-align: center;
	float: left;
	width: 320px;
	margin: 0 10px 0;
}
.feature-box2-content-3{
	/*position: relative;*/
	text-align: center;
	float: left;
	width: 320px;
}
.feature-box2-content-headline{
	margin: 10px 0;
	font-size: 20px;
}
.feature-box2-content-text{
	text-align: left;
	font-size: 16px;
	color: #000;
}
@media screen and (max-width: 767px){
	.feature-contents{
		width: 90%;
	}
	.feature-box2{
		margin: 0 auto;
	}
	.feature-box2-content-1{
		float: none;
		margin: 0 auto;
	}
	.feature-box2-content-2{
		float: none;
		margin: 0 auto;
	}
	.feature-box2-content-2 i{
		margin-top: 30px;
	}
	.feature-box2-content-3{
		float: none;
		margin: 0 auto;
	}
	.feature-box2-content-3 i{
		margin-top: 30px;
	}
}


.main-3{
	width: 100%;
	padding: 90px 0;
	background-color: #ECEFF1;
}
.profile-contents{
	width: 1024px;
	margin: 0 auto;
}
.profile-box1{
	text-align: center;
}
.profile-box2{
	/*width: 1024px;*/
}
.profile-images{
	float: left;
	/*display: inline-block;*/
	width: 512px;
}
.profile-image1{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background-image: url(mysite/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}
.profile-texts{
	float: left;
	/*display: inline-block;*/
	width: 512px;
}
.profile-text1{
	font-size: 20px;
	margin: 0 0 5px;
}
.profile-text2{
	font-size: 16px;
	margin: 0 0 20px;
	color: #000;
}
.profile-text3{
	font-size: 20px;
	margin: 0 0 5px;
}
.profile-text4{
	font-size: 16px;
}
@media screen and (max-width: 767px){
	.profile-contents{
		width: 90%;
	}
	.profile-images{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.profile-texts{
		float: none;
		width: 100%;
		text-align: center;
	}
}


.main-4{
	width: 100%;
	padding: 90px 0;
}
.contact-contents{
	width: 800px;
	margin: 0 auto;
}
.contact-box1{
	/*width: 800px;*/
	text-align: center;
}
.contact-box2{
	/*width: 800px;*/
}
.contact-texts{
	float: left;
	/*margin: 0 auto;*/
	width: 400px;
	/*text-align: center;*/
	list-style: none;
}
.contact-text-box{
	width: 130px;
	margin: 0 auto;
}
.contact-text-1{
	font-size: 20px;
	margin-bottom: 5px;
}
.contact-text-2{
	font-size: 16px;
	margin-bottom: 20px;
	text-decoration: underline;
}
.contact-text-3{
	font-size: 20px;
	margin-bottom: 5px;
}
.contact-text-4{
	font-size: 16px;
	text-decoration: underline;
}
.contact-icons{
	float: left;
	width: 400px;
}
.contact-icon-box{
	width: 220px;
	margin: 0 auto;
}
.contact-icon-text{
	margin-bottom: 5px;
	font-size: 20px;
}
.contact-icon{
	float: left;
	font-size: 50px;
}
.contact-icon-2{
	float: left;
	font-size: 50px;
	margin: 0 20px;
}
@media screen and (max-width: 767px){
	.contact-contents{
		width: 90%;
	}
	.contact-texts{
		float: none;
		width: 100%;
		text-align: center;
	}
	.contact-icons{
		float: none;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.contact-icon{
		float: none;
		display: inline-block;
	}
	.contact-icon-2{
		float: none;
		display: inline-block;
		margin: 0 8px;
	}
}


footer{
	width: 100%;
	height: 60px;
	background-color: #EC715F;
}
.footer-text{
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
	line-height: 60px;
}





