*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
h2{
	margin: 0 auto 8px;
	color: #000;
	font-size: 32px;
}
h3{
	margin: 30px 0;
	color: #000;
	font-size: 16px;
}
.headline-border{
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}
i{
	/*position: absolute;
	left: 160px*/
	font-size: 60px;
	margin: o auto;
}


header{
	width: 100%;
	background-color: #EC715F;
}
.header-main{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}
.header-title{
	float: left;
	height: 70px;
	width: 180px;	/*ここの大きさ上手く指定する方法？*/
	margin: auto 0;
	background-image: url(mysite/logo.png);
	background-size: cover;
	/*line-height: 70px;*/
}
.navbar{
	float: right;
	/*display: inline-block;*/
}
.navbar-list{
	list-style: none;
	display: inline-block;
	line-height: 70px;
	margin: 0 30px;
	color: #FAFAFA;
	font-size: 16px;
}


.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(mysite/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-title{
	text-align: center;
	padding-top: 200px;
	color: #FAFAFA;
	font-size: 64px;
}
.main-visual-text{
	text-align: center;
	padding-top: 10px;
	color: #FAFAFA;
	font-size: 20px;
}


.main-1{
	width: 100%;
	padding: 90px 0;
	background-color: #ECEFF1;
}
.portfolio-contents{
	width: 920px;
	margin: 0 auto;
}
.portfolio-box1{
	text-align: center;
}
.portfolio-box2{
	width: 920px;
}
.portfolio-image:nth-child(1){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-image: url(mysite/sketch.jpg);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(2){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-image: url(mysite/websuku.png);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(3){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 0 10px;
	background-image: url(mysite/write.jpg);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(4){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0;
	background-image: url(mysite/webcamp.png);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(5){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px;
	background-image: url(mysite/talk.jpg);
	background-size: cover;
	background-position: bottom;
}
.portfolio-image:nth-child(6){
	float: left;
	width: 300px;
	height: 250px;
	margin: 0;
	background-image: url(mysite/webcamp-mother.png);
	background-size: cover;
	background-position: bottom;
}


.main-2{
	width: 100%;
	padding: 90px 0;
}
.feature-contents{
	width: 980px;
	margin: 0 auto;
}
.feature-box1{
	text-align: center;
}
.feature-box2{
	width: 980px;
}
.feature-box2-content-1{
	/*position: relative;*/
	text-align: center;
	float: left;
	width: 320px;
}
.feature-box2-content-2{
	/*position: relative;*/
	text-align: center;
	float: left;
	width: 320px;
	margin: 0 10px 0;
}
.feature-box2-content-3{
	/*position: relative;*/
	text-align: center;
	float: left;
	width: 320px;
}
.feature-box2-content-headline{
	margin: 10px 0;
	font-size: 20px;
}
.feature-box2-content-text{
	text-align: left;
	font-size: 16px;
	color: #000;
}


.main-3{
	width: 100%;
	padding: 90px 0;
	background-color: #ECEFF1;
}
.profile-contents{
	width: 1024px;
	margin: 0 auto;
}
.profile-box1{
	text-align: center;
}
.profile-box2{
	width: 1024px;
}
.profile-images{
	float: left;
	/*display: inline-block;*/
	width: 512px;
}
.profile-image1{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background-image: url(mysite/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}
.profile-texts{
	float: left;
	/*display: inline-block;*/
	width: 512px;
}
.profile-text1{
	font-size: 20px;
	margin: 0 0 5px;
}
.profile-text2{
	font-size: 16px;
	margin: 0 0 20px;
	color: #000;
}
.profile-text3{
	font-size: 20px;
	margin: 0 0 5px;
}
.profile-text1{
	font-size: 16px;
}







