*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header{
	width: 100%;
	background-color: #F0F;
	display: flex;
	justify-content: flex-end;
	padding: 30px 20px;
}
/*.header-boxes{
	display: flex;
	padding: 30px 20px;
}*/
header > div{
	/*display: flex;*/
	background-color: #FFBBFF;
	margin: 0 10px;
	justify-content: flex-end;
	flex-basis: 140px;
	height: 70px;
}
header > div:first-child{
	margin-right: auto;
}


main{
	display: flex;
	margin: 0 auto;
}
.box-right{
	width: 300px;
	background-color: #E6FFE9;
}
.box-left{
	display: flex;
	max-width: 700px;
	padding: 20px;
	align-content: stretch;
	background-color: #00FF3B;
}
.box-left > div{
	flex-basis: 200px;
	height: 130px;
	margin: 10px;
	flex-grow: 1;
	background-color: yellow;
}